services:
  node:
    build: ./
    image: ogden-node:${OGDEN_VERSION:-latest}
    restart: unless-stopped
    environment:
      - NODE_ENV=${NODE_ENV:-production}
    env_file:
      - src/.env.${NODE_ENV:-production}