services:
  node:
    image: ghcr.io/gw2ocs/ogden:${OGDEN_VERSION:-stable}
    restart: unless-stopped
    environment:
      - NODE_ENV=${NODE_ENV:-production}
    env_file:
      - src/.env.${NODE_ENV:-production}